// .logo {
//   position: absolute;
//   bottom: 20px;
//   left: 50%;
// }

.logo img {
  width: 55px;
}

.home-icon {
  width: 45vh;
}

.text-description {
  width: 95%;
  margin: auto;
}

.selected-language {
  position: absolute;
  left: 10px;
  top: 10px;
}
