.form-check-input:checked {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

@media (max-width: 992px) {
  .hidden-xs {
    display: none !important;
  }
}
