<div class="row g-0 text-center">
    <div class="col-md-6 col-12" *ngIf="client">
        <h5>
            {{client.firstname}} {{client.lastname}}
        </h5>
        <p>
            {{client.email}}
        </p>
        <p>
            {{client.telephone.internationalNumber}}
        </p>
    </div>
    <div class="col-md-6 col-12">
        <h5>{{queryParams.service}}</h5>
        <p>{{queryParams.price}} EUR</p>
        <p>{{queryParams.appointment | date: 'HH:mm, EEEE, MMMM d, yyyy'}}</p>
    </div>
</div>