<div class="mb-4">
    <h3>{{'calendarTime.selectDateAndTime' | translate}}</h3>
</div>
<div class="container-right-content">
    <div *ngIf="loader">
        <app-loader></app-loader>
    </div>
    <div *ngIf="!loader" class="{{loader ? 'loader-opacity' : ''}}">
        <div *ngFor="let item of days; let k = index">
            <div class="calendar2-container row">
                <div class="{{item.today ? 'today' : ''}} col-md-2 col-xs-12 calendar2-days">
                    {{item.name}}
                    {{item.day}}.{{item.month}}.{{item.year}}
                </div>
                <div *ngIf="!allAppointments[item.index] || allAppointments[item.index].length === 0;"
                    class="calendar2-times col-md-10 col-xs-12 row">
                    <span class="no-free-time">{{'calendarTime.noFreeTimeReservation' | translate}}</span>

                </div>
                <div *ngIf="allAppointments[item.index] && allAppointments[item.index].length > 0;"
                    class="calendar2-times col-md-10 col-xs-12 row">
                    <span *ngFor="let appointment of allAppointments[item.index].sort(); let i = index"
                        class="col-lg-2 col-md-2 col-sm-2 col-5 {{isSelected(appointment.time) ? 'selected' : ''}}"
                        (click)="selectTime(appointment.time, appointment.employee_id)">
                        {{appointment.time | date:
                        'HH:mm'}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>