<div class="wrapper">

    <div class="profile-card js-profile-card" *ngIf="config">


        <a _ngcontent-ng-c796926968="" href="/?utm_campaign=sign_up&amp;utm_medium=badge&amp;utm_source=invitee"
            target="_blank" class="copyright VJL48qbQzWENTFAh1Knk e9TS9yoMqqIN2PqBo1QG _i6SG2jlTfccH2ZZblil">
            <div _ngcontent-ng-c796926968="" data-id="branding"
                class="copyright-container jWSwi_R_Xl7kPjUhuQoo _igrKj_5lj_5nWQu8DPw">
                <div _ngcontent-ng-c796926968="" class="V7YfvNqWv0XKYKys7N7K __d5yUqDgBEjoX7J2dql copyright-text1">
                    {{'general.poweredBy' | translate}}
                </div>
                <div _ngcontent-ng-c796926968="" class="HvybhIo63ZbBJxHh7Ann RK3ps09FjZwzHTaYDakl copyright-text2">
                    Termmy
                </div>
            </div>
        </a>

        <div *ngIf="!_helpService.isObjectEmpty(view)">
            <app-profile-company [config]="config"></app-profile-company>
            <app-select-service *ngIf="!_helpService.isObjectEmpty(view)"></app-select-service>
        </div>
        <div class="container booking-container" *ngIf="_helpService.isObjectEmpty(view)">
            <div class="row">
                <div class="col-md-4 col-12 container-left">
                    <app-back-button></app-back-button>

                    <app-preview-information [config]="config"></app-preview-information>
                </div>
                <div class="col-md-8 col-12 container-right">
                    <app-select-time *ngIf="view.service&&!view.appointment" [config]="config"></app-select-time>
                    <app-customer-form *ngIf="view.appointment&&!view.customer" [config]="config"></app-customer-form>
                    <app-select-payment *ngIf="view.customer" [config]="config"></app-select-payment>
                </div>
            </div>
        </div>


    </div>

</div>